<!-- 
 *
 * Desenvolvido por Integrando.se
 * hello@integrando.se
 * 
 * Bootstrap v.3
 *
 -->
<link href="/arquivos/reset.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
<link href="/arquivos/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/arquivos/owl.carousel.css" rel="stylesheet" type="text/css" />
<link href="/arquivos/rodape.css" rel="stylesheet" type="text/css" />
<link href="/arquivos/header.css" rel="stylesheet" type="text/css" />