<!-- 
 *
 * Desenvolvido por Integrando.se
 * hello@integrando.se
 * 
 * Bootstrap v.3
 *
 -->

<script src="/arquivos/pace.min.js"></script>
<script src="/arquivos/owl.carousel.min.js"></script>
<script src="/arquivos/admake-mini-cart.js"></script>
<script src="/arquivos/default.js"></script>
<script src="/arquivos/header.js"></script>