<!--FOOTER ===================================================================================================================================================================================================================-->





<footer class="footer">
    <div class="chat-online">


        <!-- OmniChat -->
        <!-- -->
    </div>

    <!-- :: NEWSLETTER :: -->
    <div class="newsletter">
        <div class="container_newsletter">
            <h4 class="desc_news">
                <span class="tit-sub3">Assine a Nossa</span> <span class="tit-sub1">Newsletter</span> e fique por dentro de nossas <span class="tit-sub2">Novidades</span>
            </h4>

            <fieldset class="box_newsletter">
                <label class="lbl_news nome_news">
	<input name="Rodape1$newsletter_txtNome" type="text" id="Rodape1_newsletter_txtNome" placeholder="Seu nome" />
</label>
                <label class="lbl_news email_news">
	<input name="Rodape1$newsletter_txtEmail" type="text" id="Rodape1_newsletter_txtEmail" placeholder="Seu email" />
</label>

                <a href="javascript:__doPostBack('btnOknewsletter','');" class="bt-buscar-rodape">
  Enviar
</a>
            </fieldset><span id="Rodape1_newsletter"></span>
        </div>
    </div>
    <!-- :: FIM DA NEWSLETTER :: -->

    <!-- :: RODAPE MEIO :: -->
    <div class="rodape_baixo">
        <div class="container_pe_baixo container">
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <div class="box_institucionais1 rodape-item">
                        <h5 class="tit_rodape">
                            Institucional
                        </h5>

                        <ul>
                            <li class="lista_institucionais">
                                <a href="/institucional/quem-somos">
							Quem Somos
						</a>
                            </li>

                            <li class="lista_institucionais">
                                <a href="/account">
							Minha Conta
						</a>
                            </li>

                            <li class="lista_institucionais">
                                <a href="/checkout/">
							Meus Pedidos
						</a>
                            </li>
                        </ul>
                    </div>

                    <div class="box_institucionais rodape-item">
                        <h5 class="tit_rodape">
                            Suporte e Atendimento
                        </h5>

                        <ul>

                            <li class="lista_institucionais"><a href="/institucional/quem-somos" class="texto-rodape">Quem Somos</a></li>

                            <li class="lista_institucionais"><a href="/institucional/seguranca" class="texto-rodape">Segurança</a></li>

                            <li class="lista_institucionais"><a href="/institucional/politica" class="texto-rodape">Política</a></li>

                            <li class="lista_institucionais"><a href="/institucional/trocas" class="texto-rodape">Trocas e devoluções</a></li>
                            <span id="Rodape1_paginasInstitucinais"></span>
                            <li class="lista_institucionais"><a href="/institucional" >Fale Conosco</a></li>
                            <li class="lista_institucionais"><a href="/institucional/duvidas" >Dúvidas</a></li>
                            <li class="lista_institucionais"></li>
                        </ul>
                    </div>

                    <div class="box_televendas rodape-item">
                        <h5 class="tit_rodape">
                            Fale Conosco
                        </h5>

                        <div>
                            <img src="/arquivos/icon_tel_rodape.png" />

                            <h6 class="tit_sec_rodape">
                                0800 301 1800
                            </h6>
                        </div>

                        <p class="rodape-email">
                            Seg. às Sex. de 08h às 18h
                        </p>

                        <p class="rodape-email">
                            sac@tecnew.net
                        </p>
                    </div>

                    <div class="box_pagamento rodape-item">
                        <h5 class="tit_rodape">
                            Pagamento
                        </h5>


                        <img src="/arquivos/rodape_band_master.png" alt="MasterCard" />

                        <img src="/arquivos/rodape_band_visa.png" alt="Visa" />

                        <img src="/arquivos/rodape_pag_boleto.png" alt="Boleto Online Itaú" />
                        <span id="Rodape1_BandPagamentos"></span>
                    </div>

                    <!--
			<div class="box_seguranca rodape-item">
				<h5 class="tit_rodape heading-footer">
					Certificados e Segurança
				</h5>

				<componente name="ciac:scriptrazor" id="sealsFooter" />
			</div>
			-->

                    <!--
			<div class="redes-sociais rodape-item">
				<h5 class="tit_rodape heading-footer">
					Nossas Redes
				</h5>

				<componente name="ciac:scriptrazor" id="socialFooter" />
			</div>	
		  -->
                </div>
            </div>
        </div>
    </div>
    <!-- :: FIM DO RODAPE MEIO :: -->

    <!-- :: RODAPE FUNDO :: -->
    <div class="direitos">
        <div class="container">
            <div class="row">
                <p class="col-xs-12 col-sm-10 texto-direitos">
                    Copyright ® - Todos os direitos reservados.<br /> Preços e condições de pagamento válidos exclusivamente para compras efetuadas no site, não valendo necessariamente para a rede de lojas físicas.<br /> As imagens dos produtos são meramente
                    ilustrativas. Todos os preços e condições comerciais estão sujeitos a alteração sem prévio aviso.
                </p>

                <div class="col-xs-12 col-sm-2 desenvolvimento">
                    <a target="_blank" href="http://www.agenciavinci.com.br/">
                        <img src="/arquivos/logo_vinci.png" alt="Vinci Agência Digital" title="Vinci Agência Digital" />
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- :: FIM DO RODAPE FUNDO :: -->

</footer>






<!--FOOTER ===================================================================================================================================================================================================================-->