<!-- MAIN HEAD -->
<div class="topbar">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                <span class="top-contact">
                    <img src="/arquivos/icon_tel_topo.png" />
                    <p>0800 301 1800</p>
                </span>
                <a href="/fale-conosco" class="top-contact">
                    <img src="/arquivos/icon_faleconosco-final.png" />
                    <p>Fale Conosco</p>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- HEADER -->
<header class="main-head">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-2 col-xs-2">
                <a href="/" class="logo-container">
                    <img class="logo-img" src="/arquivos/new-logo-tecnew.png" />
                </a>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-10">
                <div class="controls-container">
                    <div class="container-search">
                        <vtex.cmc:fullTextSearchBox/>
                    </div>
                    <div class="profile-controls">
                        <a href="/account" class="login">
                            <img src="/arquivos/icon_login.png" />
                            <span class="msg"></span>
                        </a>
                        <a href="/checkout" class="cart">
                            <img src="/arquivos/icon_carrinho.png" />
                            <span class="cart-count index mini-cart-qty-admake">0</span>
                        </a>
                        <!-- MOBILE -->
                        <div class="mobile-toggler menu-mobile">
                            <span class="line line-1"></span>
                            <span class="line line-2"></span>
                            <span class="line line-3"></span>
                        </div>
                    </div>
                </div>
                <nav class="main-menu">
                    <ul>
                        <li class="menu-item marcas">
                            <a href="/all-products">Todos os produtos</a>
                            <div class="menu-container"></div>
                        </li>
                        <li class="menu-item categorias">
                            <a>Categorias</a>
                            <div class="menu-container"></div>
                        </li>
                        <li class="menu-item">
                            <a href="/account">Compra rápida</a>
                        </li>
                        <li class="menu-item">
                            <a href="" class="promo">Promoções do mês</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>