<div class="titulo-institucional"> titulo-institucional </div>

<div class="institucional-container">


<div class="banner-container"></div>


<p>
Apague esse texto de exemplo abaixo e escreva o texto da sobre a sua empresa!!
A ad lacus a ullamcorper a mi a eu aliquam a phasellus porta ac hac porttitor per placerat dis laoreet vel sem convallis condimentum cubilia scelerisque sem. Hac a tristique eu ipsum cras mi vehicula venenatis velit ut praesent a aenean litora ullamcorper. Elementum a in cubilia at vestibulum sed scelerisque a sagittis vestibulum orci scelerisque et tincidunt ipsum nisl euismod iaculis eu. 
</p>


<div class="sub-titulo--blueblock">Rhoncus in bibendum dis porta etiam </div>

<div class="strong-text">
eu a nulla a class amet leo felis montes te
</div>

<p>
eu a nulla a class amet leo felis montes tempor nibh litora parturient curabitur sociis. Eu parturient ac erat turpis scelerisque semper vulputate ultricies a praesent at a blandit nullam non. Adipiscing justo vestibulum diam porttitor id a facilisis potenti sem himenaeos parturient at ullamcorper a vestibulum vehicula sit mus litora. Eros in sed in dui suspendisse cubilia non adipiscing purus ut ultricies mus scelerisque sodales scelerisque porttitor a. 
</p>

<div class="sub-titulo"> <span class="sub-titulo--span">Rhoncus in bibendum dis porta etiam</span>  </div>



<p>
Leo a ad platea nunc habitant suspendisse sit cum interdum suspendisse id scelerisque taciti scelerisque ridiculus tristique justo condimentum class eleifend quisque pretium a. Scelerisque donec a nam blandit vivamus interdum a praesent varius id nisi pretium lacus vestibulum. Condimentum enim fringilla a vestibulum a semper parturient augue at risus vestibulum penatibus bibendum a a. 
</p>
<p>
Dui a diam a commodo dictumst ipsum id varius et per a erat velit rutrum sodales condimentum. Ipsum fames convallis sociosqu tincidunt placerat mi egestas in a morbi posuere aliquet enim hac a aliquam parturient eros quam mi adipiscing ridiculus ultrices a habitasse adipiscing hendrerit. Tempor adipiscing rhoncus leo eleifend pharetra felis ut quisque nec neque nisl parturient a condimentum parturient tempor volutpat ullamcorper ultrices ac consectetur auctor adipiscing suspendisse parturient. Vitae at habitant a curae dolor fusce sit nisi a dignissim tincidunt cras accumsan ipsum sociosqu libero consectetur pretium dis. Vestibulum himenaeos donec lacinia scelerisque suspendisse erat ante parturient vestibulum parturient cursus est inceptos nec.
</p>

<div class="faq-item">
	<h4 class="faq-item__title">Devolução por arrependimento ou desistência </h4>
	<div class="faq-item__answer">ndrerit. Tempor adipiscing rhoncus leo eleifend pharetra felis ut quisque nec neque nisl parturient a condimentum parturient tempor volutpat ullamcorper ultrices ac consectetur auctor adipiscing suspendisse parturient. Vitae at habitant a curae dolor fusce sit nisi a dignissim tincidunt cras accumsan ipsum sociosqu libero consectetur pretium dis. Vestibulum himenaeos donec lacinia scelerisque suspendisse erat ante parturient vestibulum parturient cursus est inceptos nec.</div>

</div>
<div class="faq-item">
	<h4 class="faq-item__title">Devolução por arrependimento ou desistência </h4>
	<div class="faq-item__answer">ndrerit. Tempor adipiscing rhoncus leo eleifend pharetra felis ut quisque nec neque nisl parturient a condimentum parturient tempor volutpat ullamcorper ultrices ac consectetur auctor adipiscing suspendisse parturient. Vitae at habitant a curae dolor fusce sit nisi a dignissim tincidunt cras accumsan ipsum sociosqu libero consectetur pretium dis. Vestibulum himenaeos donec lacinia scelerisque suspendisse erat ante parturient vestibulum parturient cursus est inceptos nec.</div>

</div>
<div class="faq-item">
	<h4 class="faq-item__title">Devolução por arrependimento ou desistência </h4>
	<div class="faq-item__answer">ndrerit. Tempor adipiscing rhoncus leo eleifend pharetra felis ut quisque nec neque nisl parturient a condimentum parturient tempor volutpat ullamcorper ultrices ac consectetur auctor adipiscing suspendisse parturient. Vitae at habitant a curae dolor fusce sit nisi a dignissim tincidunt cras accumsan ipsum sociosqu libero consectetur pretium dis. Vestibulum himenaeos donec lacinia scelerisque suspendisse erat ante parturient vestibulum parturient cursus est inceptos nec.</div>

</div>
</div>