/* tachyons.min.css | https://master--equipa.myvtex.com/_v/public/assets/v1/npm/vtex-tachyons@2.10.0/tachyons.min.css?v=1.4.1578.2268 */
$basebg:#0a88cc;
$basefont: 'Helvetica Neue';

.b--action-primary {
    border-color: $basebg;
}

.logo-semcirculo {
    display: none
}

* {
    font-family: $basefont, sans-serif !important;
}

#account-content span {
    color: #2b2b2b
}

.cabecalho {
    height: unset
}

.mr3 {
    display: block;
    margin-right: 10px !important
}

section#account-content button {
    background: $basebg !important;
    color: white !important;
    padding: 10px;
    margin: 10px 0;
    border-radius: 0px;
}

.pofile-filter {
    display: none
}

section#account-content {
    min-width: 85%
}

button * {
    color: white;
    text-align: center;
    margin: 0 !important;
    font-family: sans-serif;
}

.myo-order-header {
    background: #ae8530
}

.myo-order-header * {
    color: white;
    font-family: sans-serif;
}

.bg-warning {
    background: #221e14 !important
}

@media screen and (min-width: 40em) {
    .w-20 {
        width: 100%
    }
    .w-80 {
        width: 100%
    }
    .w-30-ns {
        width: 100%
    }
    .flex-row-ns {
        flex-direction: row;
        flex-wrap: wrap
    }
    .w-70-ns {
        width: 100%
    }
}

@media screen and (min-width: 40em) {
    .ph7-m {
        padding-left: 0rem;
        padding-right: 0rem
    }
}

@media screen and (min-width: 40em) {
    .w-60-ns {
        width: 100%
    }
    .w-40-ns {
        width: 100%
    }
    .pl5 {
        padding-left: 0rem
    }
    .bw2 {
        border: 0
    }
}

@media screen and (max-width: 568px) {
    .ph9 {
        padding-left: 0rem;
        padding-right: 0rem
    }
    .light.c-on-disabled {
        word-break: break-all
    }
    .w5 {
        width: 100%
    }
    article.ba.bw1.b--muted-4.br2.flex.flex-column.justify-between * {
        word-break: break-word
    }
}

* {
    border-radius: 0px !important;
    ;
}

.vtex-button {
    background-color: $basebg;
}
.vtex-button span {
    color: white !important;
}
