@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

$basefont: 'Helvetica Neue';
$bg1: #0a88cc;
$bg2: #0a88cc;


.main-header {
		/* display: block; */
		display: flex;
		justify-content: center;
		margin-top: 10px;
}

.main-header img {
		/* max-width: 100%; */
		max-width: 180px;
}


body {
	color:#6d6d6d;
	
}

* {
	font-family: $basefont, sans-serif ;
	text-shadow: none !important;
	border-radius: 0px !important;
	box-shadow: none !important;
}

button {
	font-family: $basefont, sans-serif !important;
}
/* bootstrap.min.css | http://io.vtex.com.br/front-libs/bootstrap/2.3.2/css/bootstrap.min.css */

h1 {
	background:$bg2 !important;;
	color:white !important;
	width: 100%;
	font-size: 25px;
	text-transform: uppercase;
	margin:40px auto;
    text-align:center;	
}

.main-header {
		/* display: block; */
		display: flex;
		justify-content: center;
		margin-top: 10px;
}

.main-header img {
		/* max-width: 100%; */
		max-width: 180px;
}

/* Element | http://equipa.vtexlocal.com.br/checkout/#/cart */

#cart-title {
		text-align: center;
}

/* Element | http://equipa.vtexlocal.com.br/checkout/#/cart */

#cart-to-orderform {
		background: $bg2 !important;
		border: 0px !important;
		border-radius: 0px !important;
		color: white !important;
		text-shadow: none;
}



/* Element | http://equipa.vtexlocal.com.br/checkout/#/cart */

.flex {
		border-radius: 0px !important;
		background: inherit;
		box-shadow: none !important;
}


#orderform-title {
		text-align: center;
}



.srp-pc-input {
		background: $bg1;
		color: white;
		text-shadow: none;
		border: 0px;
		border-radius: 0px;
}

.btn-success {
	border-radius: 0px !important;
	border: 0px !important;
	background: $bg2 !important;
	text-shadow: none !important;
}

.step, .cart, .totalizers {
padding: 0px;
}

.accordion-heading, .mini-cart h2 {
	border-bottom:0;
	background: $bg1;
	color: white;
	padding:4px;
	font-size: 15px !important;;
}

.accordion-heading * {
	color:white !important;
	background: $bg1 !important;
	font-size: 15px !important;;
}

.onda-v1 .bg-blue {
	background-color:$bg1;
}


.step, .cart, .totalizers {
		/* border: 3px solid #f4f4f4; */
		border: 1px solid #f4f4f4;
}

.accordion-heading .accordion-toggle {
  padding: 1px 8px;
}

/* Element | https://equipa.myvtex.com/checkout/orderPlaced/?og=1035410284233 */

h2.fw3 {
		text-align: center;
		background: $bg1;
		color: white;
}



.cconf-profile > h3:nth-child(1), .cconf-payment > h3:nth-child(1), .cconf-summary > h3:nth-child(1) {
	color:white;
	background:$bg1;
	text-align: center;

}


.cconf-myorders-button, .cconf-myorders-button:hover, .cconf-continue-button, .cconf-continue-button:hover {
	color:white;
	background:$bg1;
	border:0px;
}



/* main.min.css | https://io.vtex.com.br/checkout-confirmation-ui/4.4.2/main.min.css */

.lh-copy {
		padding: 5px;
}

button.vtex-button > div {
		background: $bg1;
}


.mr4 > button > div {
		background: $bg1;

}
