@media (min-width: 987px) {
/* Element | file:///home/gechternacht/Desktop/tecnew/html/header.html# */
.header-active {
	position:fixed;
	top:0px;
	right: 0px;
	left:0px;
	background: white;	
}


.header-meio-float {
		display: none;
}

/* header.css | file:///home/gechternacht/Desktop/tecnew/arquivos/header.css */

.logo {
		/* height: 175px; */
		height: 78px;
}

.header-baixo {
		/* height: 175px; */
		height: auto;
}

/* Element | file:///home/gechternacht/Desktop/tecnew/html/header.html# */

.col-xs-10 {
		margin-top: 6px;
}


/* Element | file:///home/gechternacht/Desktop/tecnew/html/header.html# */

.col-xs-2 > a:nth-child(1) > img:nth-child(1) {
		margin: 4px auto;
	max-width: 100%;
max-height: 100%;
}


.header-topo {
display: none;
}

}