@charset "utf-8";

/**************************************************************
**************************** TOPBAR ***************************
**************************************************************/

body {
    padding-top: 213px;
}

.topbar {
    display: block;
    height: 35px;
    background: #e1e1e1;
    line-height: 35px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.topbar .row>div,
.topbar .top-contact {
    display: flex;
    align-items: center;
}

.topbar .top-contact img {
    height: 20px;
    margin-right: 5px;
}

.topbar .top-contact p {
    color: #353535;
    font-size: 12px;
    font-weight: 400;
    margin: 0;
}

.top-contact+.top-contact {
    margin-left: 35px;
}


/**************************************************************
**************************** HEADER ***************************
**************************************************************/

.main-head {
    border-bottom: 3px solid #0a88cc;
    position: fixed;
    top: 35px;
    width: 100%;
    background: white;
    z-index: 20;
    transition: 0.1s;
}

.main-head .logo-img {
    margin: 15px auto;
    max-width: 145px;
    min-width: 45px;
}

a.logo-container {
    display: block;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.main-head .controls-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #c2c2c2;
    height: 100px;
    overflow: hidden;
    min-height: 0;
    max-height: 100px;
}

.container-search {
    flex: 1;
    max-width: 472px;
}

.container-search .fulltext-search-box {
    width: 100%;
    color: #9e9e9e;
    font-size: 14px;
    padding: 0 15px;
    height: 40px;
    font-weight: 300;
    font-style: italic;
    border: 1px solid #505050;
    border-right: none;
    border-radius: 5px;
}

.container-search .btn-buscar {
    background: #0a88cc;
    height: 100%;
    width: 60px;
    display: block;
    border: 1px solid #505050;
    border-radius: 0 5px 5px 0;
    position: absolute;
    top: 0;
    font-size: 0;
    right: 0;
    background: url("http://tecnew.vteximg.com.br/arquivos/icon_lupa.png") no-repeat #0a88cc;
    background-size: 25px;
    background-position: center;
}

.profile-controls img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.profile-controls .cart-count {
    color: #0a88cc;
    font-size: 12px;
    font-weight: 400;
    border: 2px solid #c2c2c2;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 18px;
    display: inline-block;
    border-radius: 50%;
    vertical-align: bottom;
    margin-left: 2px;
}

.profile-controls .login .msg {
    color: #878787;
    font-weight: 300;
    letter-spacing: .5px;
    margin-left: 10px;
}

.profile-controls a+a {
    margin-left: 30px;
}


/**************************************************************
*********************** MENU HEADER ***************************
**************************************************************/

.main-menu>ul {
    margin: 0;
    align-items: center;
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(5, auto);
}

.main-menu .menu-item {
    flex: 1;
    text-align: center;
    position: relative;
}

.main-menu .menu-item>a {
    display: inline-block;
    height: 75px;
    line-height: 75px;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 500;
    cursor: pointer;
    color: #474747;
    text-decoration: none !important;
}

.main-menu .menu-item>a.promo {
    color: #0a88cc;
}

.main-menu .menu-item:first-child>a::after,
.main-head .menu-item:nth-child(2)>a::after {
    content: "";
    width: 0;
    height: 1px;
    border-top: 6px solid #b7b7b7;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
    transition: .3s;
}

.main-menu .menu-item:first-child::before,
.main-head .menu-item:nth-child(2)::before {
    content: "";
    width: 0;
    height: 1px;
    border-bottom: 10px solid transparent;
    border-left: 45px solid transparent;
    border-right: 45px solid transparent;
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
    transition: .3s;
    position: absolute;
    bottom: 0;
    left: calc(50% - 20px);
    transform: translateX(-50%);
}

.main-menu .menu-item:hover>a::after {
    border-top: unset;
    border-bottom: 6px solid #b7b7b7;
}

.main-menu .menu-item:hover::before {
    border-bottom: 10px solid #0a88cc;
}


/**************************************************************
*********************** MENU PAI ******************************
**************************************************************/

.menu-container {
    position: absolute;
    top: calc(100%);
    left: 0;
    z-index: 50;
    background: white;
    border: 3px solid #0a88cc;
    width: 600px;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}

.menu-item:hover .menu-container {
    visibility: visible;
    opacity: 1;
}

.menu-pai>a img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    margin-right: 15px;
}

.menu-pai>a {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #c2c2c2;
    border-right: 1px solid #c2c2c2;
    box-sizing: border-box;
    padding: 0px 10px;
    text-decoration: none;
}

.menu-pai {
    width: 45%;
}

.menu-pai>a span {
    flex: 1;
    text-align: left;
    color: #353535;
    font-size: 14px;
    font-weight: 600;
    width: 45%;
    letter-spacing: 1px;
}

.menu-pai>a::after {
    content: "";
    width: 1px;
    height: 0;
    border-left: 10px solid #e1e1e1;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

ul.sub-menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 55%;
    padding: 10px;
    box-sizing: border-box;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    height: 100%;
}

.menu-pai:hover>.sub-menu {
    visibility: visible;
    opacity: 1;
}

.sub-menu-item {
    text-align: left;
}

.sub-menu-item::before {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #0a88cc;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}

.sub-menu-item a {
    font-size: 14px;
    line-height: 30px;
    color: #353535;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none !important;
}


/**************************************************************
*********************** MENU HEADER - MARCAS ******************
**************************************************************/

.menu-item.marcas .menu-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
    box-sizing: border-box;
    width: 550px;
}

.menu-container .marca-link {
    display: block;
    height: 50px;
    width: 150px;
    text-align: center;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    margin: 0 auto;
}

.menu-container .marca-link img {
    object-fit: contain;
    height: 100%;
}


/*=======================================================================bauto complete====================================*/

ul.ui-autocomplete.ui-menu.ui-widget.ui-widget-content.ui-corner-all {
    background: white;
    border: 1px solid #d2d2d2;
}

.ui-autocomplete {
    color: #232323;
    background: white;
    padding: 10px 10px !important;
    margin-top: 30px !important;
    max-width: 660px;
    position: absolute;
    top: 75px;
}

.ui-autocomplete a {
    color: #232323;
    background: white;
    font-size: 15px;
}

.ui-autocomplete a:hover {
    color: #232323;
    text-decoration: none;
    cursor: pointer;
}

.ui-autocomplete li.ui-menu-item {
    border-bottom: 1px solid #d2d2d2;
    width: 100% !important;
}

#ui-active-menuitem {
    background-color: #0a88cc;
    color: white;
}

.ui-autocomplete li.ui-menu-item>a {
    display: flex;
}

.ui-autocomplete li.ui-menu-item>a>img {
    display: block;
    margin: 10px
}

.ui-autocomplete li.ui-menu-item {
    margin-bottom: 0px;
    text-transform: capitalize;
}


/*=================================autocomplete======================================================================================*/

@media all and (max-width:991px) {
    .topbar,
    .main-menu .menu-item>a,
    li.menu-item.marcas,
    .menu-pai>a::after,
    .main-menu .menu-item:hover::before {
        display: none;
    }
    .main-head .controls-container {
        border: unset;
        height: unset;
    }
    body {
        padding: 0;
    }
    .topbar,
    .main-head {
        position: static;
    }
    .main-head .logo-img {
        max-width: 100%;
    }
    .profile-controls .login {
        display: none;
    }
    .menu-mobile .line {
        width: 40px;
        display: block;
        background: #0a88cc;
        height: 5px;
        border-radius: 5px;
    }
    .line+.line {
        margin-top: 5px;
    }
    .menu-mobile {
        display: inline-block;
        vertical-align: middle;
        margin-left: 20px;
    }
    .main-menu {
        position: fixed;
        right: -150%;
        background: white;
        z-index: 50;
        top: 0;
        width: 40%;
        height: 100%;
        overflow-y: auto;
        padding-bottom: 150px;
        min-width: 300px;
        transition: 0.5s;
    }
    .main-menu.active {
        right: 0;
    }
    .main-head .row {
        display: flex;
        align-items: center;
    }
    .main-menu>ul {
        display: block;
    }
    .menu-item.marcas .menu-container {
        display: block;
        width: 100%;
        background: #fafafa;
    }
    .menu-container {
        visibility: visible;
        position: static;
        opacity: 1;
        border: unset;
        width: unset;
    }
    .menu-pai,
    ul.sub-menu {
        width: 100%;
        position: static;
        visibility: visible;
        opacity: 1;
    }
    .menu-pai {
        position: relative;
    }
    ul.sub-menu {
        background: #fafafa;
        display: none;
        transition: unset;
    }
    .open-sub {
        position: absolute;
        height: 50px;
        width: 50px;
        display: flex;
        top: 0;
        right: 0;
        align-items: center;
        justify-content: center;
        z-index: 100;
    }
    .open-sub::after {
        content: "";
        border-top: 10px solid #e1e1e1;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
    }
    a.mobilelinks {
        display: block;
        padding: 0px 10px;
        height: 50px;
        line-height: 50px;
        background: #e1e1e1;
        border-bottom: 1px solid #c2c2c2;
        font-weight: 600;
        letter-spacing: 1px;
        font-size: 14px;
        color: #353535;
    }
    a.mobilelinks img {
        width: 30px;
        height: 30px;
        object-fit: contain;
        margin-right: 15px;
    }
    span.mobile-toggler {
        display: block;
        background: #0a88cc;
        text-align: right;
        padding: 10px;
    }
    .mobile-toggler img {
        max-width: 20px;
        filter: invert(1);
    }
}

@media all and (min-width:992px) {
    span.mobile-toggler {
        display: none;
    }
}

@media all and (max-width:567px) {
    .container-search {
        position: fixed;
        bottom: 50px;
        width: 100%;
        left: calc(-100% + 60px);
        z-index: 40;
        max-width: unset;
        transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    .container-search.active {
        left: 0;
    }
}