/*fullbanner============================================================================*/
.fullbanner .owl-next {
		position: absolute;
		right: 0;
		top: 50%;
}

.fullbanner .owl-prev {
		position: absolute;
		top: 50%;
}

.fullbanner .owl-buttons {
		color: white;
		font-size: 40px;
}

.fullbannerarrow {
	border: solid #e4e4e4;
	    border-top-width: medium;
	    border-right-width: medium;
	    border-bottom-width: medium;
	    border-left-width: medium;
	border-width: 0 4px 4px 0;
	height: 30px;
	width: 30px;
	color: #ffffff00;
}


/* Element | http://tecnew.vtexlocal.com.br/ */

.fullbanner .left-arrow {
		transition: ;
		transform: rotate(-225deg);
		margin-left: 20px;
}

/* Element | http://tecnew.vtexlocal.com.br/ */

.fullbanner .right-arrow {
		transform: rotate(-45deg);
		margin-right: 20px;
}



.fullbanner .owl-item img {
		height: auto;
		width: 100%;
}

.fullbanner .owl-pagination {
	display: flex;
    justify-content: center;

    top: -35px;
	position: relative;
}


.fullbanner .owl-page {
	cursor: pointer;
	width: 10px;

	background: #e1e1e1;
	height: 10px;
	margin: 4px;
	border-radius: 60px;
}

.fullbanner .owl-page.active {
	cursor: pointer;
	background:#878787;
	
}


/*fullbanner============================================================================*/

/*marcas============================================================================*/
.owl-marcas {
	height:auto;

	background-color:#eeeeee;
	margin:15px 0px;
}

.marcas-lista-home {
	opacity: 1 !important;
}

	/*teste============================================================================*/

	.owl-marcas__vitrine__ulteste li {
		/*teste*/
			width:160px;
			height:auto;
			text-align: center;
			padding:3px;
		/*teste*/
		margin:19px auto;

	}

	/*teste============================================================================*/
.owl-marcas  .owl-pagination {
	display: flex;
    justify-content: center;
}


.owl-marcas .owl-page {
	cursor: pointer;
	width: 10px;

	background: #e1e1e1;
	height: 10px;
	margin: 4px;
	border-radius: 60px;
}

.owl-marcas .owl-page.active {
	cursor: pointer;
	background:#878787;
	
}

/*marcas============================================================================*/

/*banner promo=====================================================================================*/
.banners--promocoes {
	height: auto;
	min-height: 100px;
	display: grid;
	grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
	grid-gap:30px;
	
}

.banners--promocoes img {

	width: 100%;
	height: auto;
}

/*banner promo=====================================================================================*/

/*title===========================================================================================*/
.home-content__title{
	position: relative;
}

.home-content__img {



    width: 90px;
    height:90px;
    position: absolute;
    top: -25px;
}

.home-content__title__h2 {
    background: #0a88cc;
    border-bottom: 4px solid #025c8d;
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 500;
    padding: 10px 0;
    margin-top: 50px;
    margin-bottom: 50px;
	padding-left: 60px;
	margin-left: 40px;
	border-radius: 15px;
	padding-top: 20px;


}
/*title===========================================================================================*/

