

/* Element | http://tecnew.vtexlocal.com.br/institucional/quem-somos */

#institucional-content {
        margin-top: 60px;
}

#box-bread-brumb{
    display: none;
}

.institucional-container{
        padding-left: 10px;
}
/* Element | http://tecnew.vtexlocal.com.br/institucional/quem-somos?utm_source=gasigpoiashgopihasdg */

.titulo-institucional {
        display: inline-block;
        font-size: 16px;
        padding: 3px 10px 3px 0;
        text-transform: uppercase;
        background: #fff;
        color: #326aa9;
        width: 100%;
        border-top: 1px solid #e0e0e0;
        padding-top: 10px;

}

/* bootstrap.min.css | http://tecnew.vtexlocal.com.br/arquivos/bootstrap.min.css?v=635827719507000000 */

p {
        font-size: 14px;
        margin-top:20px;
}

/* Element | http://tecnew.vtexlocal.com.br/institucional/quem-somos?utm_source=gasigpoiashgopihasdg */
.banner-container {
    width:100%;
    height:auto;
}


.banner-container img {
    width:auto;
}
.strong-text{
    margin: 10px 0;
    color: #1c1c1c;
    font-weight: 700;
}

div.sub-titulo {
    position: relative;
    padding: 0;
    margin: 40px 0px;   
    display: grid;
    grid-template-columns: auto 1fr;

}

div.sub-titulo:after {
content:'';

    border-bottom: 1px solid  #8a8a8a;
    display: inline-block;
    width: 100%;
}

span.sub-titulo--span {
    background: white;
    color: #8a8a8a;
    display: inline-block;
        position: relative;



    top: 0;
    width: auto;
    z-index: 2;
        font-size: 20px;
        display: inline-block;

    /*! margin: 20px 0px; */

}

.faq-div span.sub-titulo--span {
    text-transform: uppercase;
    margin-top:30px;
    margin-bottom:30px;
}

div.sub-titulo--blueblock{
        background: #0a88cc;
        border-bottom: 4px solid #025c8d;
        color: #fff;
        font-size: 20px;
        letter-spacing: 2px;
        font-weight: 500;
        padding: 15px 0;
        padding-left: 0px;
        margin-top: 0;
        margin-bottom: 30px;
        padding-left: 30px;

        margin-top: 30px;
}

.faq-item__title{
    cursor: pointer;
    margin: 10px 0 0;
    padding: 10px 30px 10px 10px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    background: #025c8d;
    color: #fff;
    position: relative;
    display: flex;
    justify-content: space-between
        
}
.faq-item__title:after{
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f078";
    position: relative;
    right: 0px;
    display: block;
    transition: all 0.3s;
}
.faq-item__answer {
    border: 1px solid #c2c2c2;
    line-height: 22px;
    margin: 0px;
    padding: 0px 15px;
    overflow: hidden;
    box-sizing: border-box;
    height: auto;
    max-height: 0px;
    transition: all 0.3s;
}

    .faq-item--active .faq-item__answer{
        max-height: 9999999px;  
            padding: 15px;
            margin: 10px 0;
    }

    .faq-item--active .faq-item__title:after{
        transform: rotate(180deg);
    }



/*FORMULARIO===================================================================================================================================*/









.formulario {
    list-style: none outside none;
    overflow: hidden;
    text-align: left;
}

.info {
    font-size: 12px;
    margin: 0;
    text-align: left;
}

.formulario .list {
    width: 100%;
    display: inline-block;
    margin-top: 15px;
    text-align: left;
}



.formulario .list.inscricaoEstadual {
    position: relative;
}

.formulario .list.inscricaoEstadual small {
    position: absolute;
    top: 3px;
    right: 7px;
}

.formulario label {
    font-size: 15px;
    position: relative;
    width: 100%;
    font-weight: normal;
}

.formulario .list .tit_label {
    text-align: left;
    font-size: 16px;
    display: block;
    color: #545454;
    font-weight: 400;
    letter-spacing: 1px;
}

.span-input {
    color: #545454;
    font-size: 12px;
    display: inline-block;
    margin-top: 4px;

}

.formulario .list input,
.formulario .list textarea,
.formulario .list select
 {
    font-size: 14px;
    width: 100%;
    margin: 0;
    padding: 0 15px;
    height: 35px;
    border: 1px solid #bfbfbf;
    color: #545454;
    font-weight: 400;
    letter-spacing: 1px;
}

.formulario .list #txtDDDTelefone1,
.formulario .list #txtDDDTelefone2,
.formulario .list #Customer_PhoneAreaCode,
.formulario .list #Customer_PhoneAreaCodeAlternative {
    width: 50px;
    float: left;
}

.formulario .list .telefone {
    width: calc(100% - 65px);
    float: right;
}

.formulario .list input[type="checkbox"] {
    width: auto;
    height: auto;
}

.formulario .list textarea {
    padding: 15px;
}

.formulario .list .checkbox input {
    background: none repeat scroll 0 0 transparent;
    border: medium none transparent;
    height: auto;
    margin: 5px 3px;
    padding: 0;
    width: auto;
}

.formulario .list.radio label {
    margin-right: 15px;
    vertical-align: middle;
    width: auto;
    ;
}

.formulario .list.radio input {
    height: auto;
    margin: 3px 0 0 1px;
    padding: 0;
    width: auto;
    float: left;
}

.formulario .list .confirm input {
    background: none repeat scroll 0 0 transparent;
    border: medium none transparent;
    height: 20px;
    margin: 0 3px;
    padding: 0;
    width: auto;
}

.formulario .list textarea {
    height: 100px;
}

.formulario .list .erro {
    vertical-align: middle;
}

.formulario .list small {
    font-size: 11px;
}

.formulario .list small.contador input {
    border: medium none transparent;
    margin: 0;
    padding: 0;
    width: 25px;
}

.formulario a {
    font-size: 13px;
}




.identificacao_esquerda .formulario .list,
.identificacao_direita .formulario .list {
    width: 100%;
}

.conteudo-formulario {
    background: #e1e1e180;
    padding: 15px;
    border: 1px solid #b7b7b7;
}

.titulo-formulario h2 {
    color: #025c8d;
    margin: 0;
    font-size: 22px;
}

.formulario_identificacao .formulario .list {
    width: 100%;
}

.formulario_identificacao .content-select {
    width: 100%;
}

.formulario .cepMetaField {
    margin-top: 60px;
}


.bt-principal input{
    display: inline-block;
    color: #fff !important;
    background: #0a88cc;
    border-bottom: 2px solid #025c8d;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none !important;
    padding: 10px;
    border:0px;
    margin-top: 20px;
}


.formulario {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0px 30px;
}


div.form-field:nth-child(10) {
        grid-column: 1;
}

@media all and (max-width: 768px) {

        .formulario {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 10px 10px;
    }

}