@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$basebg: #0a88cc;
$logo: url("/arquivos/new-logo-tecnew.png");

*,
body {
    font-family: 'Roboto', sans-serif !important;
    box-sizing: border-box;
}

a:hover {
text-decoration: none !important;
}

.close-login {
    position: fixed;
    z-index: 9999999999;
    bottom: 50px;
    left: 50%;
    margin-left: -15px;
    width: 30px;
    height: 30px;
}

.close-login img {
    filter: brightness(100);
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.close-login:before {
    font-family:'FontAwesome';
    content:'\f08b';
    font-size: 20px;
    color:$basebg !important;
}


/*icons*/

i.vtexid-icon-mail,
.vtexid-icon-facebook,
.vtexid-icon-google-plus,
.vtexid-icon-lock {
    display: none;
}


/*footer*/

.vtexIdUI .modal-footer {
    background: transparent !important;
    border: 0 !important;
    padding: 10px 0 !important;
    box-shadow: none;
    border-radius: 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}


/*seta voltar*/

.vtexid-icon-arrow-left:before {
    content: "\e600";
    color: white;
    vertical-align: text-bottom;
    display: none;
}

a.vtexIdUI-back-link {
    color: white;
    font-weight: 600 !important;
    margin: 0 !important;
    margin-top: 20px !important;
    text-transform: uppercase;
    letter-spacing: 1px !important;
}


/*container*/

.vtexIdUI {
    background: transparent !important;
    border: 0 !important;
    box-shadow: none !important;
    top: 45% !important;
    margin: 0 auto !important;
    left: 0 !important;
    right: 0 !important;
    width: calc(100% - 15px) !important;
    transform: translateY(-50%) !important;
    max-width: 400px !important;
    overflow: unset !important;
}

.vtexIdUI .modal-body {
    background: unset !important;
    max-height: unset !important;
    padding: 0 !important;
}

.vtexIdUI .modal-header {
    background: unset !important;
    border: 0 !important;
    padding: 0 !important;
    text-align: center !important;
}


/*buttons*/

.vtexIdUI .btn {
    font-weight: 300 !important;
    text-shadow: unset !important;
    font-size: 15px !important;
    letter-spacing: 1px !important;
    border: 0 !important;
    height: 50px !important;
    line-height: 50px;
    padding: 0 !important;
    border-radius: 0 !important;
    text-transform: uppercase !important;
    box-shadow: none !important;
    background: $basebg !important;
    color: white !important;
    float: unset !important;
    width: 100%;
    display: block;
}


/*inputs*/

input {
    border: 1px solid $basebg!important;
    box-shadow: none !important;
    border-radius: unset !important;
    padding: 0px 10px !important;
    height: 50px !important;
    font-weight: 300 !important;
    font-size: 20px !important;
    color: #CECECE !important;
}


/*background*/

div#vtexIdContainer {
    background: $basebg !important;
}


/*header buttons*/

.vtexIdUI-heading {
    color: #202020 !important;
    font-weight: 400 !important;
    font-size: 0 !important;
}

.vtexIdUI-heading::after {
    font-size: 20px !important;
    letter-spacing: 1px !important;
}

.vtexIdUI-heading::before {
    display: block;
    content: "";
    width: 200px !important;
    height: 100px !important;
    background: $logo no-repeat;
    background-position: center !important;
    background-size: contain !important;
    margin: 0 auto !important;
    margin-bottom: 20px !important;
}

.vtexIdUI-heading {
    margin: 0 !important;
    margin-bottom: 20px !important;
}


/*input de codigo de email*/

.vtexIdUI .vtexIdUI-auth-code .vtexIdUI-code-field {
    margin: 0 auto;
    width: 100%;
    margin: 20px 0;
}

.vtexIdUI .vtexIdUI-auth-code .info-code {
    color: #202020;
    margin-bottom: 4px;
    font-weight: 600 !important;
    font-size: 16px;
}


/*email e senha links*/

div#vtexIdUI-classic-login a {
    font-size: 15px !important;
    font-weight: 300 !important;
    margin-bottom: 20px !important;
}

div#vtexIdUI-classic-login .control-label {
    font-weight: 600 !important;
    color: white;
    font-size: 18px !important;
    text-transform: uppercase;
}


/*recuperar senha a*/

div#vtexIdUI-change-pswd span {
    color: white !important;
    font-size: 18px !important;
    font-weight: 300 !important;
    margin-bottom: 20px !important;
    color: white !important;
    letter-spacing: 1px;
}

.vtexid-icon-user:before {
    content: "\e605";
    color: white;
}


/*TELA 1 - TELA INICIAL*/

div#vtexIdUI-auth-selector .vtexIdUI-heading::after {
    content: "Confirmar identidade";
}


/*TELA 2 - CONFIRMAÇAO DE EMAIL*/

div#vtexIdUI-email-confirmation .vtexIdUI-heading::after {
    content: "Confirmação de email";
}


/*tela 3 - codigo email*/

div#vtexIdUI-confirm-access-code .vtexIdUI-heading::after {
    content: "Confime seu código por email";
}

div#vtexIdUI-classic-login .vtexIdUI-heading::after {
    content: "Insira seu email e senha";
}

div#vtexIdUI-change-pswd .vtexIdUI-heading::after {
    content: "Mude sua senha";
}

@media all and (max-width: 567px) {
    .vtexIdUI-heading::before {
        display: block;
        content: "";
        height: 60px !important;
        background: url(https://tfbkiu.vteximg.com.br/arquivos/logo.png) no-repeat;
        background-position: center !important;
        margin: 0 auto !important;
        margin-bottom: 20px !important;
    }
}


/*alteraçoes*/

div#vtexIdContainer {
    /* background: $basebg !important; */
    background: white !important;
    ;
}

.close-login img {
    /* filter: brightness(100); */
    filter: none !important;
}

h4.vtexIdUI-heading {
    color: #979797 !important;
}

#vtexIdUI-email-confirmation>div>h4 {
    color: #202020 !important;
}

div.control-group>label>span {
    color: #979797 !important;
}

div.vtexIdUI-classic-login-control>label>span {
    color: #979797 !important;
}

#inputEmail {
    color: #979797 !important;
}

#inputPassword {
    color: #979797 !important;
}

#appendedInputButton {
    color: #979797 !important;
}
