
body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.pull-left.box-qtd {
	display:none;
}

div.buy-button-box:nth-child(5) > div:nth-child(1) {
		display: none;
}

.product-info .header {
		display: none;
}

.quantity {
		display: none;
}

#popupCalculoFreteWrapper {
	display: none;
}


/* Element | http://tecnew.vtexlocal.com.br/produto1----calcas/p */

.economia-de {
	display: none;
}
.buy-button-box {
    margin-top: 15px;
    height: 40px;
    line-height: 40px;
    color: #fff !important;
    background: #0a88cc;
    text-align: center;
    display: block;
    border-bottom: 2px solid #025c8d;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: uppercase;
		text-decoration: none !important;
				width: 50%;
		margin-bottom: 20px;


font-size: 20px;
height: 60px;
line-height: 60px;
width: 300px;
max-width: 100%;
font-weight: 600;


}

.buy-button-box a {
	color:white;
		display: flex !important;
		justify-content: center;
}

.buy-button-box a i {
	display:none;}


.buy-button-box a:before {
	content:'';
	background-image: url('/arquivos/carrinho_botao_comprar.png');
 	background-repeat: no-repeat;
  	display: inline-block;
	background-size: contain;

		height: 33px;
		display: block;
		width: 46px;
		margin-top: 8px;
}


.content > fieldset:nth-child(2) {
	

	display: inline;


 background: #eee; border-bottom: 2px solid #d2d2d2; width: 100%; }

#txtCep {
	border: 1px solid #d2d2d2;
height: 45px;
padding: 0 10px;
color: #7d7d7d;
font-size: 14px;
font-weight: 400;
letter-spacing: 1px;}

#btnFreteSimulacao {
background: #535353;
  color: #fff !important;
  text-decoration: none !important;
  height: 45px;
  width: 45px;
  text-align: center;
  line-height: 45px;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 400;
	border:0px;

			margin-top: 23px;
}


.cep-busca {
		display: none;
}


div.close {
		display: none;
}

.prefixo {
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 1px;
	text-transform: uppercase;

	width: auto;
	margin-bottom: 0px;

	margin-right: 10px;

	display: inline-flex;
}


.productName {
	font-size: 28px;
	color: #413d3e;
	font-weight: 500;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.valor-de.price-list-price  {
		font-size: 0px;
}


.valor-de.price-list-price  .skuListPrice {
		font-size: 20px;
		font-weight: normal;
		color: grey;
		text-decoration: line-through;
}

.valor-por.price-best-price{
	font-size: 0px;
}

.skuBestPrice {
    font-size: 45px !important;
    letter-spacing: 1px !important;
    line-height: normal;
    font-weight: 600;
    color: #ff9600;
}

.productDescription {
color: #474747;
font-size: 12px;
}


/* Element | http://tecnew.vtexlocal.com.br/produto1----calcas/p */

.zoomPad {
		border: 1px solid #d2d2d2;
		padding: 100px 0px;
}



.content > fieldset:nth-child(2) {
		padding: 18px;
		width: auto;
		max-width: 100%;
		padding-top: 0px;
		
	}


.title {
		display: none;
}

/* Element | http://tecnew.vtexlocal.com.br/produto1----calcas/p */
/*TESTE =================================================================================== SUBSTITUIR POR MARGIN NO FOOTER*/
div.product-description-box:nth-child(3) {
		margin: 80px;
}

.codigo-produto {
	font-size: 20px;
	color: #9e9e9e;
	font-weight: 300;
	letter-spacing: 1px;
	display: block;
	margin-top: 5px;
}


#banner-produto img{
	height: auto;
	width: auto;
}

.codigo-produto .skuReference {
	display: inline;
}
.bread-crumb {
	margin-top:30px;
	margin-bottom: 50px;
	border-bottom: 1px solid #dcdcdc;
}

.bread-crumb li{
	display: inline;
}
.bread-crumb li a{
color:#858585;
}
.bread-crumb li::before{
	content:'>>';
	color:#858585;
	margin-right: 10px;
	margin-left: 10px;
	display: inline;
}

.bread-crumb li:first-child::before{
	content:'';
}

#brand {
		font-size: 17px;
		color:#5a5a5a;
		margin: 7px 0px;
}

.brandName {
		display: inline;
		font-size: 17px;
		color:#5a5a5a;
}

.brand.test-brand-name {
	font-weight: 600;
	color:#5a5a5a;
}

.descricao-preco {
	border-top: 1px solid #dcdcdc;
	padding: 20px 0px;
	margin-top: 10px;
}

.row.product-details {
	padding: 20px;
	padding-top: 0px;
}


/* Element | http://tecnew.vtexlocal.com.br/produto1----moletons/p */



/* Element | http://tecnew.vtexlocal.com.br/produto1----moletons/p */

.thumbs {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		margin-top: 40px;
}

/* Element | http://tecnew.vtexlocal.com.br/produto1----moletons/p */

.thumbs > li {
		border: 1px solid #d2d2d2;
		padding: 20px;
}



/* ===========================================================================================produto.css | http://tecnew.vtexlocal.com.br/arquivos/produto.css?v=637266983135930000 */



#txtCep {
		max-width: 350px;
		width: 100%;
		min-width: 10px;
		margin-left: 10px;
}


fieldset .frete-calcular {
		margin-top: auto;

}



.content {
		padding-top: 30px;
		border-top: 1px solid #dcdcdc;
		margin-top: 60px;
}

/* Element | http://tecnew.vtexlocal.com.br/produto1----moletons/p */

.product-info > div:nth-child(1) > h1:nth-child(1) {
		margin-top: 0px;
}

@media all and (max-width: 1200px) {

/* produto.css | http://tecnew.vtexlocal.com.br/arquivos/produto.css?v=637267137472600000 */

	.prefixo {
			display: flex;
			flex-direction: column;
			text-align: center;
	}

	#btnFreteSimulacao {
	float: right;
	}

	.content > fieldset:nth-child(2) {
			padding-top: 20px;
	}

}

@media all and (max-width: 991px) {
	.zoomPad {
		padding: 20px 0px;
	}
}
@media all and (max-width: 768px) {
	.box-banner {
		margin-bottom: 40px;

	}

}

/*avaliaçoes*/

.avaliacoes {
	display: none;
}


/*home title quem viu tambem viu*/

.home-content__title{
	position: relative;
}

.home-content__img {



    width: 90px;
    height:90px;
    position: absolute;
    top: -25px;
}

.home-content__title__h2 {
    background: #0a88cc;
    border-bottom: 4px solid #025c8d;
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 500;
    padding: 10px 0;
    margin-top: 50px;
    margin-bottom: 50px;
	padding-left: 60px;
	margin-left: 40px;
	border-radius: 15px;
	padding-top: 20px;


}

/*DESCRIÇAO EXTRA===================================================================================*/

#caracteristicas {
	margin: 0px 0px 100px 0px;
}

#caracteristicas tbody {
	display:flex;
	flex-direction:column;
}
#caracteristicas tr {
		border-bottom:2px solid #eeeeee;
		display: block;
	margin-top: 40px;
}

#caracteristicas th {

	display: block;
	  display: inline-block;
  background: #eee;
  color: #545454;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  height: 48px;
  line-height: 50px;
  padding: 0 90px 0 30px;
  position: relative;
  margin: 0;
  cursor: pointer;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#caracteristicas th::after {
content: "";
width: 0;
height: 1px;
border-top: 6px solid #b7b7b7;
border-left: 10px solid transparent;
border-right: 10px solid transparent;
position: absolute;
	right: 20px;
	bottom: 20px;
margin-left: 10px;
transition: .3s;
}


#caracteristicas td {
	display:block;
	overflow-y:hidden;
	height:auto;
	max-height:0px;
	transition: all 0.3s;
	
	
	    color: #545454;
    padding: 0px 30px;
    font-size: 16px;
    letter-spacing: 1px;

    float: left;
    width: 100%;
}

#caracteristicas .tr--active td {
	max-height:50000px;
	padding:30px;
}

#caracteristicas  .tr--active th::after   {
	 border-top: unset;
    border-bottom: 6px solid #b7b7b7;
}


#caracteristicas h4.group {
	display: none;
}
