
.footer {
		margin-top: 60px;
}


#rodape {
    margin-top: 40px;
}

.newsletter {
    padding: 15px 0;
    position: relative;
    border-top: 5px solid #8dbad2;
    border-bottom: 5px solid #8dbad2;
    color: #fff;
    background: #1776aa;
    background: -moz-linear-gradient(top, #1776aa 0%, #005380 100%);
    background: -webkit-linear-gradient(top, #1776aa 0%, #005380 100%);
    background: linear-gradient(to bottom, #1776aa 0%, #005380 100%);
}

.container_newsletter {
    width: 770px;
    margin: 0 auto;
    position: relative;
}

.container_chat {
    width: 990px;
    margin: 0 auto;
    position: relative;
}

.bt_enviar_news {
    padding: 6px 16px;
    display: inline-block;
    font-weight: bold;
    text-indent: -9999px;
}

.desc_news {
    display: block;
    width: 505px;
    letter-spacing: 3px;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    margin: 0 auto;
}

.tit-sub3 {
    border-bottom: 2px solid #fff;
    padding: 0 15px 10px;
    margin-bottom: 0;
    display: inline-block;
    vertical-align: text-bottom;
}

.tit-sub1 {
    font-size: 42px;
    font-weight: bold;
    line-height: 42px;
    height: 42px;
}

.tit-sub2 {
    font-weight: bold;
}

.bt-buscar-rodape {
    background: #8dbad2;
    color: #fff !important;
    float: right;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none !important;
}

.box_newsletter {
    margin: 30px auto 0;
    width: 500px;
}

.lbl_news {
    display: block;
    float: left;
    margin-bottom: 15px;
    width: 100%;
}

.lbl_news input {
    width: 100%;
    color: #bababa;
    font-weight: 300;
    font-size: 16px;
    font-style: italic;
    text-align: left;
    height: 40px;
    padding: 0 15px;
}

.lbl_sex input {
    width: auto;
    padding: 5px 0;
    margin: 8px 5px 7px 10px;
}

.descadastrar_news {
    float: right;
    margin-right: 70px;
    color: #fff;
    text-decoration: underline;
    font-size: 12px;
    width: 85px;
}

.rodape-item {
    float: left;
    width: 25%;
}

.box_institucionais1 {
    width: 20%;
}

.box_institucionais {
    width: 30%;
}

.rodape-item ul {
    margin-bottom: 0;
}

.tit_rodape {
    font-size: 18px;
    text-align: left;
    letter-spacing: 1px;
    font-weight: bold;
    color: #1f81af;
    margin: 0 0 15px;
}

.tit_pe {
    font-size: 18px;
    text-align: left;
    margin: 0 0 5px;
}

.tit_sec_rodape {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    font-weight: 300;
    margin: 0;
    float: right;
    width: calc(100% - 40px);
}

.box_televendas {
    color: #636363 !important;
}

.box_televendas img {
    width: 25px;
}

.rodape_baixo {
    background: #e1e1e1;
    margin-top: 15px;
    border-top: 1px solid #b7b7b7;
    padding: 30px 0;
}

.lista_institucionais {
    display: block;
    margin-bottom: 5px;
}

.lista_institucionais a {
    font-size: 16px;
    text-align: left;
    color: #636363 !important;
    font-weight: 300;
    letter-spacing: 1px;
}

.box_televendas p {
    font-size: 16px;
    float: left;
    margin-top: 5px;
    font-weight: 300;
    margin-bottom: 0;
}

.box_pagamento img {
    margin-bottom: 10px;
    margin-right: 10px;
    height: 35px;
    background: #fff;
}

.box_seguranca {
    clear: both;
    padding: 10px 0;
    position: relative;
    overflow: hidden;
}

.blindado,
.fcontrol {
    display: block;
    float: left;
    padding: 20px 10px;
}

.thawte {
    display: inline-block;
    padding: 20px 10px;
}

.ebit {
    position: absolute;
    right: 0;
    top: 10px;
}

.direitos {
    position: relative;
    height: 80px;
    background: #025c8d;
    overflow: hidden;
}

.desenvolvimento {
    text-align: right;
    height: 100%;
    line-height: 80px;
}

.desenvolvimento img {
    max-width: 100%;
}

.footer-social a {
    display: inline-block;
    margin-right: 15px;
}

.texto-direitos {
    font-size: 12px;
    letter-spacing: 1px;
    color: #fff;
    font-weight: 300;
    margin-bottom: 0;
    height: 51px;
    margin-top: 15px;
}

@media all and (max-width: 1199px) {
    .texto-direitos {
        margin-top: 15px;
        height: 42px;
        font-size: 10px;
    }
}

@media all and (max-width: 991px) {
    .box_televendas,
    .rodape-item,
    .box_institucionais {
        width: 50%;
    }
    .rodape-item {
        height: 190px;
    }
    .box_pagamento,
    .redes-sociais,
    .box_televendas {
        height: auto;
    }
    .texto-direitos {
        margin-top: 5px;
        height: auto;
    }
}

@media all and (max-width: 767px) {
    .direitos {
        height: auto;
    }
    .desenvolvimento {
        line-height: normal;
        height: auto;
        margin: 30px 0 15px;
        text-align: center;
    }
    .texto-direitos {
        transform: translateY(0);
        margin-top: 15px;
        height: auto;
        text-align: center;
    }
    .box_newsletter {
        width: 500px;
        text-align: center;
    }
    .bt-buscar-rodape {
        display: inline-block;
        float: none;
    }
    .rodape-item {
        height: auto;
        width: auto;
        margin: auto;
        float: unset;
        text-align: center;
        margin-bottom: 30px;
    }
    .container_newsletter {
        width: 500px;
    }
    .tit_rodape {
        text-align: center;
        margin-bottom: 5px;
    }
    .rodape_baixo {
        padding: 30px 0;
    }
    .redes-sociais {
        margin-bottom: 0;
    }
    .box_televendas {
        float: left;
        width: 100%;
    }
    .box_televendas>div {
        display: block;
        height: 45px;
        width: 185px;
        margin: 10px auto 0;
    }
    .box_televendas p {
        width: 100%;
    }
    .footer-social {
        margin-top: 10px;
    }
    .desc_news {
        max-width: 100%;
    }
}

@media all and (max-width: 567px) {
    .container_newsletter {
        width: 100%;
    }
    .desc_news {
        margin-top: 0;
        width: 300px;
    }
    .box_newsletter {
        width: calc(100% - 30px);
    }
    .tit-sub1 {
        display: block;
    }
}
