/*div.home-content--vitrine > div:nth-child(1) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}*/


/* Element | http://tecnew.vtexlocal.com.br/?utm_source=ioghsdaophgasoipdghopasidhgopasidhg */

div.home-content--vitrine .owl-buttons {
        display: none;
}


div.home-content--vitrine ul>li>span {
    display:flex;
    flex-direction:column;
    padding: 0px 30px;
}

div.home-content--vitrine h2:nth-child(1) {
    display: none;
}


div.home-content--vitrine ul>li>span span.add, .wrapper-buy-button-asynchronous .add{

        margin-top: 15px;

    color: #fff !important;
    background: #0a88cc;
    text-align: center;
    display: block;
    border-bottom: 2px solid #025c8d;
        padding:7px;
        padding-top: 10px;
        margin:auto;
}

div.home-content--vitrine ul>li>span span.add a, .wrapper-buy-button-asynchronous .add a{
    color:white;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none !important;

}

div.home-content--vitrine ul>li>span span.add a i, .wrapper-buy-button-asynchronous .add a i{
display: none;
}

div.home-content--vitrine ul>li>span span.add a::before, .wrapper-buy-button-asynchronous .add a:before{
content:'';
background-image: url('/arquivos/carrinho_botao_comprar.png');
 background-repeat: no-repeat;

  height: 20px;
  display: inline-block;

width: 26px;
background-size: contain;

}

/* Element | https://tecnew.myvtex.com/?utm_source=9gj23984gj2980jg9308j4g29083j4g90234j8g */

div.home-content--vitrine .product-image {
        margin: auto;
        border: 1px solid #d7d7d7;
}

.product-name{

}


.product-name a{

    color: #413d3e;
    font-size: 18px;
    text-transform: unset;
    letter-spacing: 1px;
    display: block;
    height: 38px;
    margin: 0 auto;
    line-height: 18px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: left;
}

.old-price {
    display: block;
    color: #d7d7d7;
    letter-spacing: 1px;
    text-decoration: line-through;
}


.best-price{

    color: #ff9600;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 1px;
}

div.home-content--vitrine .price {
    display: block;
    min-height: 60px;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: left;
    padding-left: 0px;

}

.product-name {
    margin-top: 10px;
}

.description-short{
    color: #7e7e7e;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    display: block;
    height:auto;
    margin: 0 auto;
    line-height: 18px;
    overflow: hidden;
    margin-top: 10px;
    min-height: 125px;
    text-align:left;
}

.compare {
    color: #062A59;
    font-size: 11px;
    text-align: left;
    display: none;
    margin-top:5px;
    
}

.compare label{
    margin-left: 8px;
}



.avaliacao {
    font-size: 1px;
}