.zoomPad {
  cursor: crosshair;
}
.zoomPreload {
  -moz-opacity: 0.8;
  opacity: 0.8;
  filter: alpha(opacity=80);
  color: #333;
  font-size: 12px;
  font-family: Tahoma;
  text-decoration: none;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 8px;
  text-align: center;
  background-image: url(/arquivos/ajax-loader.gif);
  background-repeat: no-repeat;
  /* background-position: center center; */
  background-position: 43px 30px;
  z-index: 110;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.zoomPup {
  display:none !important;
  overflow: hidden;
  background-color: #fff;
  -moz-opacity: 0.6;
  opacity: 0.6;
  filter: alpha(opacity=60);
  z-index: 120;
  position: absolute;
  border: 1px solid #ccc;
  z-index: 101;
  cursor: crosshair;
}
.zoomOverlay {
  position: absolute;
  left: 0;
  top: 0;
  background: #fff;
  z-index: 5000;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 101;
}
.zoomWindow {
  position: absolute;
  left: 110% !important;
  top: 40px;
  background: #fff;
  z-index: 6000;
  height: auto;
  z-index: 10000;
  z-index: 110;
}
.zoomWrapper {
  position: relative;
  border: 1px solid #999;
  z-index: 110;
  /* width: 531px !important;
  height: 400px !important; */
}
.zoomWrapperTitle {
  display: block !important;
  background: #999;
  color: #FFF;
  height: 18px;
  line-height: 18px;
  width: 100%;
  overflow: hidden;
  text-align: center;
  font-size: 10px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 120;
  -moz-opacity: 0.6;
  opacity: 0.6;
  filter: alpha(opacity = 60);
}
.zoomWrapperImage {
  display: block;
  position: relative;
  overflow: hidden;
  z-index: 110;
  /* height: 400px !important; */
}
.zoomWrapperImage img {
  border: 0;
  display: block;
  position: absolute;
  z-index: 101;
  height: auto !important;
  max-width: none !important;
}
.zoomIframe {
  z-index: -1;
  filter: alpha(opacity=0);
  -moz-opacity: 0.8;
  opacity: 0.8;
  position: absolute;
  display: block;
}

.ON {
  border: 1px solid #6d6d6d !important;
}
