<div class="sub-titulo--blueblock">Perguntas Frequentes</div> 













<div class = "faq-div"><span class="sub-titulo--span">Trocas e devoluções</span></div>











<div class="faq-item">
	<h4 class="faq-item__title">Devolução por arrependimento ou desistência</h4>

<div class="faq-item__answer">
	<p>
		Para devolver um produto por arrependimento, as seguintes condições deverão ser observadas:
	</p>
	<ul>
		<li>O prazo para desistir da compra do produto é de até 7 (sete) dias corridos, a contar da data do recebimento.</li>
	    <li>O produto deverá ser encaminhado na embalagem original, sem indícios de uso, sem violação do lacre original do fabricante, acompanhado do DANFE (Documento Auxiliar da Nota Fiscal Eletrônica), do manual e todos os seus acessórios</li>
	</ul>
	<p>
		Para mais informações consulte a política de trocas e devoluções.
	</p>
</div>

</div>



<div class="faq-item">
	<h4 class="faq-item__title">Devolução de produto com defeito </h4>

<div class="faq-item__answer">

  <p>A solicitação de troca deverá ser comunicada a loja em até 7 (sete) dias corridos, a contar da data do recebimento.</p>
<p>Os produtos devem ser devolvidos, preferencialmente, na embalagem original. É indispensável que o lacre original do fabricante esteja intacto e que as mercadorias estejam acompanhadas do DANFE (Documento Auxiliar da Nota Fiscal Eletrônica), do manual e todos os acessórios.</p>
<p class="atencao-duvida"><strong>Atenção: A loja isenta-se da obrigação de atender às solicitações de troca ou devolução de qualquer produto devolvido sem comunicação a loja, fora do prazo ou com ausência de itens/acessórios que o acompanham.</strong></p>
<p>Se o produto apresentar defeito após 7 (sete) dias, a contar da data do recebimento, mas dentro do prazo de garantia do fabricante, você deve entrar em contato com o fabricante para comunicar a ocorrência e obter esclarecimentos ou dirigir-se a uma das assistências técnicas credenciadas pelo fabricante, indicadas no manual.</p>
<p>A garantia contratual é de inteira responsabilidade do fabricante e seu prazo e forma de utilização constam no Termo de Garantia que acompanha o produto. Para mais informações consulte a Política de Trocas e Devoluções.</p>


</div>

</div>




<div class="faq-item">
	<h4 class="faq-item__title">Como trocar ou devolver um produto </h4>

<div class="faq-item__answer">
  
<p></p><p>Para efetuar a troca ou devolução de um produto certifique-se antes que o seu pedido atende a todos os requisitos de troca e devolução descritas nas perguntas frequentes descritas acima.</p>
<p>Atendendo a todos os requisitos, você deverá entrar em contato conosco através do nosso formulário de atendimento na sessão “Fale Conosco”. Pedimos para detalhar o ocorrido, informando o número do pedido, o produto e o motivo do pedido de troca ou devolução.</p>
<p>Assim que possível nossa equipe irá entrar em contato informando o procedimento para finalizar a troca ou devolução.
</p>
  	
</div>

</div>








<div class="faq-item">
	<h4 class="faq-item__title">Como cancelar a compra de um produto </h4>

<div class="faq-item__answer">
  
  
  		<p></p><p>  Se a forma de pagamento escolhida for boleto bancário e o pagamento não for efetuado no prazo, o pedido é automaticamente cancelado. O mesmo acontece com pagamentos pela internet se, devido a uma falha do sistema, você não conseguir acessar o internet banking</p>
<p>  Pedidos cujo pagamento foi aprovado você deverá entrar em contato conosco pela sessão “Fale Conosco” solicitando o cancelamento do pedido realizado. A forma de estorno do pagamento será informada polos nossos atendentes</p>
<p>  Se você já recebeu o produto, a devolução pode ser feita no prazo de até 7 (sete) dias, a contar da data de entrega. Nesse período, se o produto apresentar defeito ou se você não estiver satisfeito(a) com a compra, o cancelamento deverá ser feito através de contato conosco que pode ser realizado na sessão "Fale Conosco" </p><p></p>
  	
  	
</div>

</div>







<div class = "faq-div"><span class="sub-titulo--span">Pagamento</span></div>
















<div class="faq-item">
	<h4 class="faq-item__title">Formas de pagamento aceitas  </h4>

<div class="faq-item__answer">

	  		<p>
	</p><p>  Você pode pagar seu pedido das seguintes maneiras: </p>
	  <strong>Pagamento à vista</strong>
	 <ul class="duvidas-list">
		<li>  boleto bancário   </li>
		<li>  débito em conta   </li>
		<li>  cartão de crédito   </li>
	</ul>
	  <strong>Pagamento parcelado</strong>
	 <ul class="duvidas-list">
		<li>  cartão de crédito Visa, Master, American Express e Diners   </li>
	</ul>
	<p>  O pedido estará sujeito à aprovação da administradora de cartão de crédito. Para sua segurança nós não guardamos nenhuma informação de seu cartão de crédito em nosso banco de dados.   </p>
		
</div>

</div>








<div class="faq-item">
	<h4 class="faq-item__title">Pagamento com cartão de crédito  </h4>

<div class="faq-item__answer">


	  		<p></p><p>  Logo após colocar os produtos no carrinho e informar seu e-mail e senha e escolher o método de entrega, você será direcionado(a) para a tela de pagamento do pedido. </p>
	<p>  Na opção de CARTÃO DE CRÉDITO. Basta clicar sobre a bandeira do cartão de sua preferência. </p>
	<p>  Informe os dados conforme aparecem no cartão de crédito. Antes de fechar a compra, confira os dados do pedido, a forma de pagamento e o endereço de entrega. Não será possível alterá-los após a finalização. Para ampliar ainda mais sua segurança, os pedidos pagos com cartão de crédito passam por uma checagem de dados cadastrais. Se houver divergência cadastral, a loja se reserva no direito de cancelar o pedido sem aviso prévio. </p>
	<p>  O prazo de entrega informado no site passa a ser considerado após confirmação dos dados cadastrais e aprovação do pagamento pela administradora, o que pode ocorrer em até 2 (dois) dias corridos. </p>
	<p>  Pedidos que ultrapassem o limite do cartão podem ser recusados pela administradora de cartões. O limite do cartão deve ser superior ao total do pedido, e não ao valor da parcela. </p>
	<p>  Para sua segurança nós não guardamos nenhuma informação de seu cartão de crédito em nosso banco de dados.
	Não são aceitos cartões de crédito emitidos no exterior.  </p><p></p>

	
</div>

</div>











<div class="faq-item">
	<h4 class="faq-item__title">Pagamento com boleto bancário   </h4>

<div class="faq-item__answer">


  		<p></p><p>  Logo após colocar os produtos no carrinho e informar seu e-mail e senha e escolher o método de entrega, você será direcionado(a) para a tela de pagamento do pedido. </p>
<p>  Nesta tela, clique sobre a opção BOLETO BANCÁRIO.  </p>
<p>  Antes de fechar a compra, confira os dados do pedido, a forma de pagamento e o endereço de entrega. Não será possível alterá-los após a finalização.
 </p><p>  Após finalizado o pedido, utilize a opção IMPRIMIR O BOLETO. </p>
<p>  O boleto não é enviado por e-mail ou pelos Correios. Após impresso, pode ser pago na agência bancária de sua preferência ou pela Internet, até a data de vencimento que consta no documento. Após essa data, ele perde a validade e não poderá ser reimpresso.
Prazo de entrega: após o pagamento do boleto, o banco confirma o recebimento em até 3 (três) dias úteis. O prazo de entrega informado começa a contar somente após a aprovação do pagamento e a checagem dos dados cadastrais. </p>
<p>  O não pagamento do boleto até a data de vencimento implica o cancelamento automático dele e da compra, sem qualquer ônus. </p>
<p>  Como imprimir segunda via de boleto bancário dentro da validade </p>
<p>  Acesso a sessão “Meus Pedidos”, encontre o pedido que deseja reemitir o boleto e clique em “reimprimir o boleto”. Uma segunda via do boleto será gerada. </p>
<p><strong>  Atenção: Antes de gerar uma segunda via do boleto observe o status do seu pedido pois se o prazo para o pagamento já se encerrou o pedido pode já ter sido cancelado parla loja, aonde o pagamento da segunda via não acarretará no direito ao recebimento do produto. </strong></p><p></p>


	
</div>

</div>




















<div class="faq-item">
	<h4 class="faq-item__title">Pagamento com débito em conta  </h4>

<div class="faq-item__answer">


	  		<p></p><p>  Logo após colocar os produtos no carrinho e informar seu e-mail e senha e escolher o método de entrega, você será direcionado(a) para a tela de pagamento do pedido. </p>
	<p>  Selecione a opção DÉBITO EM CONTA. </p>
	<p>  Escolha o banco de sua preferência. </p>
	<p>  Antes de fechar a compra, confira os dados do pedido, a forma de pagamento e o endereço de entrega. Não será possível alterá-los após a finalização. </p>
	<p>  O pagamento será feito em ambiente seguro do próprio banco e a loja não terá acesso aos seus dados bancários. </p>
	<p>  Importante: antes de realizar compras por débito em conta, desative o bloqueador de pop-ups do seu computador. </p>
	<p>  Essa forma de pagamento é somente para pagamento à vista. </p>
	<p>  O prazo de entrega começa a contar após a confirmação de pagamento pelo banco, que pode levar até 2 (dois) dias corridos. </p><p></p>



	
</div>

</div>


















<div class = "faq-div"><span class="sub-titulo--span">Entrega</span></div>



























<div class="faq-item">
	<h4 class="faq-item__title">Alterar endereço de entrega </h4>

<div class="faq-item__answer">


  
  		<p></p><p>  Durante a realização do pedido você poderá alterar o endereço de entrega na página “Endereço de Entrega”. Nesta página estarão listados todos os endereços já cadastrados anteriormente por você aonde é possível escolher em qual endereço o pedido deverá ser entregue. Você poderá também cadastrar um novo endereço de entrega nesta mesma página. </p>
<p>  Após o pedido ter sido realizado, por motivos de segurança o endereço de entrega não poderá mais ser alterado. </p><p></p>
  	



	
</div>

</div>










<div class="faq-item">
	<h4 class="faq-item__title">Ainda não recebi minha compra  </h4>

<div class="faq-item__answer">


  		<p>
</p><p>  Verifique, abaixo, o que pode ter acontecido. </p>
<ul class="duvidas-list">
<li>  <strong>1.</strong> Data de entrega: verifique se a data prevista de entrega já expirou. Se a data de entrega do pedido passou, entre em contato conosco pela sessão “Fale Conosco” </li>
<li>  <strong>2.</strong> Dados do endereço: confirme se o endereço de entrega está correto em seu cadastro. Se houver qualquer divergência pedimos que atualize o endereço de entrega em seu cadastro e entre em contato conosco pela sessão “Fale Conosco” </li>
<li>  <strong>3.</strong> Pagamento: confirme se o pagamento já foi aprovado. O prazo de aprovação do pagamento varia de acordo com a forma em que foi efetuado. Para verificar o prazo de aprovação de cada forma de pagamento veja as perguntas frequentes em de Pagamento </li>
<li>  <strong>4.</strong> Ausência de recebedor:  Verifique através do código rastreador do pedido o status do mesmo. Em caso de ausência do recebedor a transportadora tentará efetuar a entrega mais 2 (duas) vezes.Se houver três tentativas de entrega sem sucesso, encaminharemos o(s) produto(s) ao Centro de Distribuição e enviaremos uma notificação.Os transportadores são orientados a deixar um aviso indicando que estiveram no endereço informado.
Caso more em apartamento, verifique se o produto foi entregue na portaria. </li>
<li>  <strong>5.</strong> Recusa do produto: certifique-se de que as pessoas encarregadas de receber o produto, como porteiros ou empregados, não se recusaram a recebê-lo.  </li>
<li>  <strong>6.</strong> Fatores naturais e adversos: certifique-se de que, nos dias agendados para a entrega, não ocorreram chuvas fortes, acidentes ou greves na região onde o produto deveria ser entregue, impossibilitando a chegada do transportador. </li>
</ul><p></p>
  	



	
</div>

</div>


















<div class="faq-item">
	<h4 class="faq-item__title">Prazo de entrega e disponibilidade  </h4>

<div class="faq-item__answer">



</p><p>  O prazo para entrega dos produtos varia de acordo com o local, forma de pagamento e disponibilidade do produto adquirido e pode ser visualizado no campo “Consulte o prazo de entrega do seu pedido”, na página de cada produto ou no carrinho. </p>
<p>  Na compra de mais de um produto, eles serão entregues conforme o prazo de entrega de cada um. </p>
<p><strong> Atenção: o prazo para entrega do pedido passa a ser considerado a partir de sua aprovação pela instituição financeira e após a validação dos dados cadastrais. </strong></p>
<p>  Produto em estoque: </p>
<p >  Neste caso a entrega só depende do prazo de entrega da região que você mora (cidade/estado/país)   forma de pagamento; </p>
<p> Disponível em X dias </p>
<p >  Neste caso o prazo de entrega só começará a valer após os X dias informado no produto. Somente após esse período o pedido será entregue a transportadora aonde a entrega dependerá do prazo de entrega da região que você mora (cidade/estado/país)   forma de pagamento; </p>
<p> Pré-venda </p>
<p >  Adquirir um produto em pré-venda permite reservar antecipadamente um item que terá grande procura à época do lançamento. </p>
<ul class="duvidas-list">
	<li>  Na data do lançamento, os produtos em pré-venda chegam aos nossos centros de distribuição. O prazo para entrega começa a contar a partir desse momento*. </li>
	<li>  O valor dos pedidos pagos com cartão de crédito só será enviado à administradora do cartão na data de lançamento do produto. </li>
</ul>
<p>  *O prazo pode ser alterado caso ocorra um atraso na entrega do produto pelo fornecedor. </p><p></p>



	
</div>

</div>

















<div class="faq-item">
	<h4 class="faq-item__title">Embalagem de entrega   </h4>

<div class="faq-item__answer">



<p>  Todas as mercadorias transportadas são cuidadosamente embaladas. Produtos de grandes dimensões já vêm do fabricante com proteção contra impacto, não recebendo nenhuma embalagem adicional. Eles são transportados exclusivamente com a embalagem original de fábrica. Caso receba a embalagem de seu pedido avariada recuse a entrega e escreva na parte de trás da nota fiscal qual o motivo. Nossa equipe entrará em contato com você. </p>



	
</div>

</div>























<div class = "faq-div"><span class="sub-titulo--span"> Outros assuntos</span></div> 


















<div class="faq-item">
	<h4 class="faq-item__title">Como comprar?   </h4>

<div class="faq-item__answer">



  		<p></p><p>  Comprar na loja é super fácil e seguro. </p> 
<p>  Selecione o produto o qual deseja adquirir e clique em “Comprar” </p>
<p>  Você será direcionado para a página de “Carrinho de Compras” aonde você poderá alterar a quantidade do item comprado. Você poderá adicionar quantos produtos você desejar em seu carrinho de compras. Após adicionar todos os produtos que você deseja em seu carrinho, clique em “Concluir Comprar”. </p>
<p>  Se você não estiver logado na loja você será redirecionado para a página de identificação. Informe seu email e nós verificaremos se você possui ou não cadastro conosco. Se já possuir, informe a sua senha de acesso, se não possuir preencha o formulário de cadastro. </p>
<p>  Agora você precisará informar o endereço e o método de entrega que deseja receber os seus produtos. </p>
<p>  Selecione a forma de pagamento desejada e clique em “Concluir Compra”.
Pronto! Dentro de alguns dias você já estará com seus produtos em mãos :).  </p>
<p>  Não se esqueça de ver as perguntas sobre Pagamento e Entrega para mais informações sobre o prazo de entrega do seu pedido. </p><p></p>



	
</div>

</div>











<div class="faq-item">
	<h4 class="faq-item__title">Política de envio de e-mails </h4>

<div class="faq-item__answer">




  		<p></p><p>  Nossa loja possuí um grande respeito ao consumidor, sendo assim não enviamos e-mails de cunho publicitário sem a devida autorização do mesmo. </p>
<p>  A loja envia e-mails referente ao status do pedido com o objetivo de informar o consumidor sobre sua compra, mantendo-o ciente dos processos envolvidos até a entrega do produto. </p>
<p>  Caso você não queira mais receber e-mails publicitários de nossa loja entre em contato conosco na sessão “Fale Conosco”. </p><p></p>



	
</div>

</div>












<div class="faq-item">
	<h4 class="faq-item__title">Não estou conseguindo efetuar compra </h4>

<div class="faq-item__answer">



  		<p>

</p><p>  Se você está com problemas para efetuar uma compra em nossa loja, sugerimos que você verifique alguns itens que poderão resolver o problema: </p>
<ul class="duvidas-list">
	<li>  Verifique se o javascript está habilitado no seu navegador. Nas opções do navegador é possível habilitar e desabilitar o javascript. Para o funcionamento da nossa loja é importante que o javascript esteja habilitado. </li>
	<li>  Verifique se os cookies não estão bloqueados. Nas opções do navegador é possível habilitar e desabilitar os cookies. Para o funcionamento da nossa loja é importante que os cookies estejam habilitados. </li>
	<li>  Atualize ou utilize outro navegador. A loja funciona em uma ampla gama de navegadores e versões, porém em versões mais antigas de navegadores a loja pode apresentar alguns problemas. Neste caso recomendamos que você atualize seu navegador para a última versão disponível. A maioria dos navegadores essa atualização pode ser feita gratuitamente. </li>
</ul>
<p>  Se ainda não conseguir finalizar o seu pedido entre em contato conosco através da nossa sessão “Fale Conosco” </p><p></p>



	
</div>

</div>


<div class="sub-titulo--blueblock"> Ainda com dúvidas? Fale conosco </div>