
<div class="titulo-institucional">Política</div>

<div class="institucional-container">
	<div class="sub-titulo"> <span class="sub-titulo--span">Complete Store</span></div>

	<p>A Complete Store tem o compromisso de manter sua privacidade duranto todo o processo de navegação. Para marcar sua transparência, abriu este espaço para esclarecer sua conduta diante dos dados pessoais que você nos confidencia. Vale lembrar que seus dados pessoais são registrados pela nossa loja de forma automatizada, dispensando manipulação humana.
	</p>
<div class="banner-container">
	<img src="/arquivos/intitucionalSecurity.png" alt="">
</div>
	<div class="sub-titulo"> <span class="sub-titulo--span">Garantia de Segurança e Privacidade</span></div>

	<p>
	Garantimos que seus dados não serão trocados, ou vendidos para afiliados ou quaisquer outras empresas sem sua prévia autorização. Para que estes dados permaneçam intactos, nós desaconselhamos expressamente a divulgação de sua senha a terceiros, mesmo a amigos e parentes. As alterações sobre nossa política de privacidade serão devidamente informadas neste espaço.
	</p>

	<strong>1. Quando coletamos os seus dados?</strong>
	<ul>
	<li> No cadastro de compra em nossa loja</li>
	<li> No cadastro de nossas promoções</li>
	<li> Ao responder uma pesquisa</li>
	<li> No cadastro, para receber as novidades e promoções da loja por e-mail</li>
	</ul>
	<p>
	<strong>2. O que fazemos com os seus dados?</strong>
	</p>
	<p>
	Seus dados pessoais são peça fundamental para que seu pedido chegue em segurança, na sua casa ou no endereço que informar, de acordo com nosso prazo de entrega. A Complete Store mantém suas informações em sigilo absoluto e as utiliza somente com o objetivo de traçar um perfil do público do site e para aperfeiçoar sempre nossos serviços, produtos e tconteúdos.
	</p>
	<p>
	<strong>3. Como utilizamos Cookies?</strong>
	</p>

	<p>
	Utilizamos cookies apenas para guardar informações do seu carrinho de compras, o que facilita e agiliza sua compra.
	</p>
</div>