<div class="titulo-institucional"> Quem Somos</div>


<div class="institucional-container">
	<p>
	A Tecnew, fundada em 1998, tem como missão atender com serviços e produtos de alta qualidade voltados às necessidades do mercado veterinário, sempre fundamentados na ética, no respeito e no desenvolvimento mútuo. Sua estrutura dispõe de uma área de armazenagem de 2500 m², com capacidade para armazenar produtos secos e perecíveis em temperatura controlada. Seu sistema diferenciado de qualidade e logística permite que os produtos sejam entregues em condições ideais e integridade preservada em tempo recorde.</p>
	<p>
	A Tecnew atua no estado do Rio de Janeiro e na Zona Sul da cidade de São Paulo. Atualmente as linhas de produtos distribuídas atendem o mercado de animais de companhia com produtos farmacêuticos, biológicos, pet food, kits para diagnóstico, brinquedos educativos e linha de higiene e beleza. Nossa equipe é altamente capacitada para dar assistência técnica em todos os segmentos de atuação, garantindo que seus clientes atinjam o máximo desempenho em produtividade e bem-estar animal.</p>

	<div class="sub-titulo--blueblock">Missão:</div>
	<p>
	Atender aos nossos clientes com serviços de alta qualidade fundamentados na ética, no respeito e desenvolvimento dos nossos parceiros – Clientes, Fornecedores, Colaboradores, Sociedade.</p>

	<div class="sub-titulo--blueblock">Visão:</div>
	<p>
	Ser reconhecida e valorizada pelos nossos clientes pela eficiência, credibilidade e inovação na prestação de serviços.
	Garantir resultados rentáveis que nos permitam investir em nossos colaboradores e em nossa empresa.</p>

	<div class="sub-titulo--blueblock">Valores:</div>
	<p>
	Solidariedade, Ética, Respeito, Transparência, Excelência e Comprometimento.
	</p>
</div>