<div class="titulo-institucional"> Segurança</div>

<div class="institucional-container">

<div class="banner-container">
	<img src="/arquivos/intitucionalSecurity2.png" alt="">
</div>

	<p>
		Fique tranquilo! Na Complete Store todas as informações confidenciais que passam pelo nosso processo de compra são automaticamente codificadas por sistema avançado de criptografia que garante a troca de informações entre nossos servidores e o seu navegador.
	</p>
	<p>
		O ícone do "cadeado fechado" na parte inferior do seu navegador durante o seu pedido é um símbolo da criptografia das informações e a sua garantia de que seus dados estão trafegando em ambiente 100% seguro.
	</p>
	<p>
		Utilizamos certificado digital da Thawte.com internacional para encriptação SSL. Esta organização de renome internacional garante que você está comunicando com o servidor da Complete Store e que as informações estão encriptadas para que ninguém possa vê-las. Em caso de compras com cartão de crédito, além da criptografia e do processamento automático por computador sem nenhuma intervenção humana, outro fator de segurança é o fato de que nossa loja não armazena nenhuma informação sobre cartões de crédito.
	</p>
	<p>
		A Complete Store se compromete a utilizar o número do cartão somente no processamento da sua compra e, tão logo ocorra a confirmação pela Administradora do cartão, o número é automaticamente destruído em nossos sistemas, não sendo, de nenhuma forma, guardado nos arquivos da Complete Store. Nossa loja utiliza tecnologia CIASHOP, uma empresa com mais de 15 anos de experiência em comércio eletrônico e que faz parte do grupo TOTVS, o maior grupo de tecnologia da América Latina. A força do grupo CIASHOP-TOTVS é a sua garantia de que estamos usando tecnologia de ponta para proteger seus dados e sua privacidade.
	</p>
</div>