<div class="titulo-institucional">
Trocas e devoluções
</div>

<div class="institucional-container">
<p>
A Complete Store é comprometida com a satisfação de seus clientes, oferecendo produtos de qualidade e buscando sempre parcerias com os melhores fornecedores. Buscando sempre o melhor para nossos clientes, desenvolvemos uma Política de Trocas e Devoluções baseada no Código de Defesa do Consumidor, descrita abaixo. Obs: É importante ressaltar que a troca ou devolução de produtos somente será efetuada desde que respeitadas as condições aqui especificadas.
</p>

<div class="sub-titulo"> <span class="sub-titulo--span">
Condições Gerais</span></div>

<p>
Para solicitação de troca ou devolução do produto, o cliente deverá entrar em contato com nossa Central de Atendimento através de e-mail ou telefone.
</p>

<p>
Motivos e prazos para trocas ou devoluções: - Desistência/Arrependimento: o prazo é de até 7 (sete) dias a partir do recebimento do produto (conforme Art. 49 do Código de Defesa do Consumidor);
- Defeito técnico ou de fabricação: o prazo é de 7 (sete) dias a partir do recebimento do produto (conforme Art. 18 e Art. 26 do Código de Defesa do Consumidor);
- Avaria (estrago): neste caso, recuse o produto no momento da entrega ou solicite a troca ou devolução em até 24 horas a partir do recebimento do produto;
- Produto em desacordo com o pedido feito: recuse o produto no momento da entrega ou solicite a troca ou devolução em até 7 (dias) a partir do recebimento do produto (conforme Art. 49 do Código de Defesa do Consumidor).
</p>

<p>
O produto só será trocado ou devolvido se o mesmo estiver nas seguintes condições:
- Acompanhado da 1ª via da Nota Fiscal de Venda ou Cupom Fiscal;
- Na embalagem original;
- Sem indícios de estrago por mau uso;
- Acompanhado do manual e com todos os acessórios.
</p>

<div class="sub-titulo"> <span class="sub-titulo--span">
Observações</span></div>

<p>
- O prazo máximo para devolução dos valores pagos é de 30 (trinta) dias após a solicitação de devolução;
- Se o produto adquirido em nossa loja apresentar defeito após 30 dias, a contar da data do recebimento, mas dentro do prazo de garantia do fabricante, você deverá entrar em contato diretamente com o fabricante para comunicar a ocorrência e obter esclarecimentos, ou dirigir-se a uma das assistências técnicas credenciadas pelo próprio fabricante, indicadas no manual;
- A garantia contratual é de inteira responsabilidade do fabricante e seu prazo e forma de utilização constam do Termo de Garantia que acompanha o produto.
</p>

<div class="sub-titulo"> <span class="sub-titulo--span">
Formas de Restituição</span></div>

<p>
- Cupom de troca: você poderá optar por um cupom de troca, que permite o uso do valor reembolsado para efetuar novas compras no site da Complete Store;
- Estorno em cartão: exclusivo para pedidos pagos em cartão de crédito. O prazo do estorno seguirá as regras da administradora do cartão, podendo demorar de uma a duas faturas dependendo da data de vencimento de sua fatura;
- Reembolso em conta corrente: para pedidos pagos em boleto o valor poderá ser reembolsado em uma conta corrente, de mesma titularidade do responsável pelo pedido (CPF idêntico). O prazo do reembolso dependerá da acurácia dos dados e seguirá as regras do banco recebedor do crédito, caso o solicitante não possua conta corrente em nenhum banco, o valor será transferido para uma agência Itaú e o solicitante poderá realizar o saque do valor após confirmação do estorno.
</p>

<p>
Caso tenha qualquer dúvida sobre os procedimentos de trocas ou devoluções, por favor entre em contato conosco: (00) 0000-0000 ou contato@contato.com.br</p>
</div>